.grid {
  max-width: var(--page-demo-width-wide);
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
